#sec1{
    background-image: url(../img/om\ oss/omoss.png);
    background-size: cover;
    height: 100vh;
    width: 100wv;
    position: sticky;
    top: 0;
}

body{
    margin: 0;
    height: 550vh;
}

#sec3{
    background-color: rgb(60, 255, 38);
    background-size: cover;
    height: 100vh;
    width: 100wv;
    position: sticky;
    top: 0;
    z-index: 1;
}

#sec2{
    background-color: blueviolet;
    background-image: url(../img/om\ oss/personal.jpg);
    background-size: cover;
    height: 100vh;
    width: 100wv;
    position: sticky;
    top: 0;
}

#sec4{
    background-color: rgb(124, 161, 187);
    background-size: cover;
    height: 100vh;
    width: 100wv;
    position: sticky;
    top: 0;
    z-index: 1;
}
