body{
   background-color: rgb(26, 7, 63); 
   margin: 0; 
}

#wrapper{
    display: grid;
    height: 155vh;
    width: 95vw;
    margin: auto;
    grid-template-areas:
    
    "sec1 sec1 sec1"
    "sec2 sec2 sec2"
    "sec3 sec3 sec3"
    "sec4 sec4 sec4"
    "sec5 sec5 sec5"
    "footer footer footer"
    ;
    grid-template-rows: 9fr 2fr 10fr 5fr 5fr 2fr ;


}

#sec1{
    display:grid;
    grid-area: sec1;
    background-color: rgb(179, 144, 190);
    grid-template-areas: 
        "bfsec2 bfsec3 bfsec1"
    ;
    grid-template-columns: 70px 1fr 347px;
    
}

#sec2{
    background-color: rgb(218, 178, 0);
    grid-area: sec2;
    color: aliceblue;
    font-family: impact, Roboto, Arial, Helvetica, sans-serif;
    
}

#sec3{
    display: flex;
    grid-area: sec3;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(109, 169, 169);


}

#sec4{
    border: 1px solid black;
    grid-area: sec4;
}

#sec5{
    border: 1px solid black;
    grid-area: sec5;
}



footer{
    border: 1px solid black;
    grid-area: footer;
}

#flex1{
    border: 2px solid black;
    height: 300px;
    width: 200px;
}

#flex2{
    height: 300px;
    width: 200px;
    border: 2px solid black;
}

#flex3{
   height: 300px;
    width: 200px;
    border: 2px solid black;
}

#bfsec1{
    background-image: url(../img/animals/animal_2.png);
    background-size: contain;
    grid-area: bfsec1
}


#bfsec3{
    font-size: 60px;
    color: white;
    grid-area: bfsec3;
    font: bold;
    font-family: impact, Roboto, Arial, Helvetica, sans-serif;
    margin: 30px;
}
p{
   color: rgb(176, 233, 176); 
   font-size: 50px;
}
p:hover{
    color: white;
}

#bfsec2 {
    grid-area: bfsec2;
}

#hb {
    display: flex;
    width: 100vw;
    height: 770px;
    background-image: url(../img/others/a-g-YuQgNYku1M8-unsplash.jpg);
    background-size: cover;
    justify-content: space-around;
    text-align: center;
    grid-template-rows: 80px auto auto; 
    position: sticky; 
    top: 0px;
    z-index: -1;  
}

header{
    display: flex;
    align-items: flex-end;
    color: white;
    grid-area: header;
    height: 70px; 
    margin-top: 20px;
    font-size: 25px;
}

#logga{
  
    border: 1px sloid white;
    color: white;
    grid-area: logga; 
    height: 70px;
    width: 200px;
    background-image: url(../img/others/nti_zoo_logga.png);
    background-size: cover;
    margin-top: 20px
    
    
}

nav{
    display: flex;
    align-items: flex-end;
    color: white;
    grid-area: nav;
    height: 70px;
    margin-top: 20px;
    font-size: 25px;

}



#konto{
    display: flex;
    align-items: flex-end;
    color: white;
    grid-area: nav;
    height: 70px;
    margin-top: 20px;
    font-size: 25px;
    
}

#aboutus {
    display: flex;
    align-items: flex-end;
    color: white;
    grid-area: nav;
    height: 70px;
    margin-top: 20px;
    font-size: 25px;
    
}

hr{

    width: 90%;
    position: sticky;
    top: -630px;
}
hr{
    margin-top: -40px;
    
}

#aboutus:hover{
    color: aquamarine;
}